<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637809558409-bu0o977tkhid52es4kvkurl69pb3n3te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637809558409-bu0o977tkhid52es4kvkurl69pb3n3te</string>
	<key>API_KEY</key>
	<string>AIzaSyBliEpB8_K3bFS0jL5SfZdeeVqy3hhUQJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>637809558409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleverDb</string>
	<key>PROJECT_ID</key>
	<string>connection1-16bff</string>
	<key>STORAGE_BUCKET</key>
	<string>connection1-16bff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637809558409:ios:a6d3f5307b26f31ace9758</string>
</dict>
</plist>